.BusinessPrices__TopSection {
  display: flex;
  flex-flow: row;
}

.BusinessPrices__TopSectionTextBox {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.BusinessPrices__TopImg {
  width: 30%;
  gap: 10px;
  border-radius: 100%;
}

.BusinessPrices__ContentSubHeader {
  margin-top: 0;
}

.BusinessPrices__ContentCategory {
  display: flex;
  flex-flow: row;
  gap: 30px;
}

.BusinessPrices__ContentCategoryBox {
  display: flex;
  flex-flow: column;
  gap: 10px;
  margin-top: -5px;
}

.BusinessPrices__ContentCategoryHeader {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0;
  display: flex;
  flex-flow: column;
}

.BusinessPrices__CategoryButton {
  width: auto;
  background-color: lightgray;
  border-radius: 50px;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  margin-top: 0px;
}

.BusinessPrice__BottomSection {
  display: flex;
}

.BusinessPrices__BottomImg {
  width: 100%;
  margin-top: 20px;
}

.BusinessPrices__TopContentText {
  font-family: nunito;
  margin-top: 5px;
  margin-bottom: 20px;
}

.BusinessPrices__ContentBox {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 40px;
}

.BusinessPrices__ContentText {
  font-family: nunito;
  font-weight: 400;
}

.BusinessPrices__ContentTextBox {
  display: flex;
  flex-flow: column;
}

.BusinessPrices__ContentSubHeaderText {
  font-family: oswald;
  font-weight: 300;
  margin-bottom: 5px;
}

.BusinessPrices__ContentHeaderBox {
  display: flex;
  flex-flow: row;
}

.BusinessPrices__ContentHeader {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.3em;
}

.BusinessPrices__ContentBoxList {
}

.BusinessPrices__ContentElements {
  margin-bottom: 15px;
  font-weight: 400;
  font-family: nunito;
}

.BusinessPrices__ContentSubHeader {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4px;
}

@media only screen and (max-width: 600px) {
  .BusinessPrices__TopContentHeader {
    font-size: 2em;
  }

  .BusinessPrices__ContentCategory {
    display: flex;
    flex-flow: column;
  }
}
