.PortfolioBrowser {
  --portfolio-browser-columns: 4;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(var(--portfolio-browser-columns), 1fr);
}

@media only screen and (max-width: 768px) {
  .PortfolioBrowser {
    --portfolio-browser-columns: 3;
  }
}

@media only screen and (max-width: 640px) {
  .PortfolioBrowser {
    --portfolio-browser-columns: 2;
  }
}
