.flex-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  justify-items: stretch;
  justify-content: center;
}

.flex-child:not(:last-child) {
  margin-right: 0px;
}

.intro-tekst {
  color: var(--lightblue);
  font-weight: 100;
  text-align: right;
}

.uthevet-intro-tekst {
  color: white;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 700;
}

.foto-header {
  width: 275px;
}

.foto-header:not(:last-child) {
  margin-right: 20px;
}

.section-intro {
  width: full;
}

.text-container {
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  justify-self: end;
  width: 550px;
  align-self: center;
}

.image-container {
  display: flex;
  width: 890px;
}

.background-intro {
  background-color: var(--blue);
  padding-top: 85px;
  padding-bottom: 85px;
}

.homecontactbutton {
  margin-top: 20px;
}
