.lightbox {
  --yarl__color_backdrop: rgba(0, 0, 0, 0.97);
}

.description {
  display: flex;
}

.listing {
  text-align: left;
  width: 600px;
  margin-left: 40px;
  margin-bottom: 30px;
}

.listingTitle {
  color: var(--blue);
  font-size: 1.1em;
}

.listingPrice {
  color: var(--green);
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 5px;
}

.listingLink,
.listingLink:visited,
.listingLink:active {
  color: #fff;
  text-decoration: none;
  border-radius: 9999px;
  background-color: var(--blue);
  padding: 3px 20px;
}

.bodyText {
  font-weight: 200;
  text-align: left;
}

.gallery:not(:global .show) {
  display: none;
}

.closeFullscreen {
  display: block;
  height: 50px;
  position: fixed;
  right: 20px;
  top: 10px;
  width: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.closeFullscreen:hover {
  transform: scale(1.1);
}

.closeFullscreenLine1,
.closeFullscreenLine2 {
  width: 50px;
  height: 4px;
  border-radius: 9000px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s;
}
.closeFullscreen:hover * {
  background-color: var(--lightblue);
}

.closeFullscreenLine1 {
  transform: translateY(-50%) rotate(45deg);
}

.closeFullscreenLine2 {
  transform: translateY(-50%) rotate(-45deg);
}

:global .image-gallery.fullscreen-modal {
  transform: translate(0deg);
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.95);
}

:global .image-gallery.fullscreen-modal .image-gallery-content.fullscreen {
  top: 0;
  transform: none;
  position: relative;
  width: 100%;
  background-color: transparent;
}

:global .image-gallery-content.fullscreen .image-gallery-image {
  max-height: calc(100vh - 80px - 50px);
}

@media only screen and (min-width: 600px) {
  :global .image-gallery-content.fullscreen .image-gallery-image {
    height: initial;
  }
  .description {
    flex-flow: column;
  }
}
