.DiscountAd {
  display: flex;
  gap: 40px;
  width: 100%;
  max-width: var(--content-width);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.DiscountAd__Img {
  width: 50%;
  height: 100%;
}

.DiscountAd__Textbox {
  width: 50%;
}

.DiscountAd__Header {
  font-size: 1.2em;
  font-weight: 700;
  color: var(--blue);
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}

.Discounts__FreePregnancyNextDate {
  font-size: 1.1em;
  font-family: nunito;
  font-weight: 700;
  text-align: left;
  margin-top: 2px;
}

.Discounts__Text {
  font-size: 1em;
  font-family: nunito;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 10px;
}

.Discounts__Text {
  font-size: 1em;
  font-family: nunito;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 10px;
}

.Discounts__WeddingDiscountAd {
  flex-flow: row-reverse;
}

.Discounts__TextImportant {
  font-weight: 700;
}

@media only screen and (max-width: 1000px) {
  .DiscountAd {
    display: flex;
    flex-flow: column;
  }

  .DiscountAd__Img {
    width: 100%;
    margin-top: -20px;
  }

  .DiscountAd__Textbox {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .DiscountAd {
    display: flex;
    flex-flow: column;
  }

  .DiscountAd__Img {
    width: 100%;
  }

  .DiscountAd__Textbox {
    width: 100%;
  }

  .FixedDiscount {
    width: 100%;
  }
}
