.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.title {
  text-align: left;

  margin-top: 3px;
  margin-bottom: 5px;
  font-weight: 500;
  color: black;
}

.count {
  text-align: left;
  font-weight: 200;
}

.main {
  position: relative;
}
