.button {
  background-color: var(--lightblue);
  border-style: none;
  border-radius: 50px;
  width: 200px;
  height: 40px;
  font-family: oswald;
  text-transform: uppercase;
  font-size: large;
  text-align: center;
}

.button:hover {
  background-color: var(--lightgreen);
}

.button:focus {
  background-color: var(--lightgreen);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
