.ProductPriceSection__BottomDivider {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid lightgrey;
  width: 30%;
  margin: 9px auto;
}
.ProductPriceSection {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 40px;
  width: 100%;
  max-width: var(--content-width);
  justify-content: space-between;
}

.ProductPriceSection--reverse {
  flex-flow: row-reverse;
}

.ProductPriceSection__ImgSection {
  display: flex;

  width: 100%;
  height: 100%;
}

.ProductPriceSection__Img {
  width: 100%;
  height: 100%;
}

.ProductPriceSection__TextSection {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ProductPriceSection__Textbox {
  width: 100%;
}

.ProductPriceSection__Header {
  font-size: 1.2em;
  font-weight: 300;
  color: black;
  text-align: left;
  text-transform: uppercase;
}

.ProductPriceSection__Text {
  font-family: nunito;
  text-align: left;
}

.ProductPriceSection__ContentBox {
  display: flex;
  flex-flow: row;
  margin-top: 10px;
  text-align: left;
  width: 100%;
  justify-content: space-between;
}

.ProductPriceSection__ContentText {
  display: flex;
  flex-flow: column;
  align-items: left;
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  color: black;
  margin-bottom: 5px;
  gap: 3px;
  font-family: oswald;
  text-transform: uppercase;
}

.ProductPriceSection__ContentPrice {
  display: flex;

  flex-flow: column;
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  color: black;
  margin-bottom: 5px;
  font-family: oswald;
  gap: 3px;
  text-transform: uppercase;
}

.ProductPriceSection__PriceText {
  width: 300px;
}

.ProductPriceSection__Price {
  width: 170px;
}
