.Root {
  text-align: center;
}

.Root-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

img.headerlogo {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100px;
  height: 100px;
}

.row {
  justify-content: center;
  display: flex;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.nav-link:not(:last-child) {
  margin-right: 80px;
}

.nav-link:hover {
  color: var(--blue);
  text-decoration: none;
}

.logo {
  height: 100px;
  width: 100px;
  margin: 40px;
}
