.Tabs {
  --background-color: #ddd;
  --active-color: #cbcbcb;
  --inactive-color: #ddd;
}

.Tabs__Bar {
  display: flex;
  gap: 10px;
}

.Tabs__Tab {
  background-color: var(--inactive-color);
  border-radius: 4px 4px 0 0;
  border: none;
  color: #444;
  cursor: pointer;
  font-family: oswald;
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0;
  padding: 4px 8px;
  text-transform: uppercase;
}

.Tabs__Tab--Active {
  background-color: var(--active-color);
  color: #000;
}

.Tabs__Content {
  border-radius: 4px;
  background-color: var(--background-color);
}

.Tabs__Content--FirstActive {
  border-top-left-radius: 0;
}

@media only screen and (max-width: 600px) {
  .Tabs__Bar {
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    flex-flow: column;
    gap: 2px;
    margin-bottom: 2px;
  }

  .Tabs__Tab {
    border-radius: 4px;
  }

  .Tabs__Content {
    border-radius: 4px;
  }
}
