.Tabs {
  --background-color: #ddd;
  --border-color: var(--dark-orange);
}

.Tabs__Bar {
  display: flex;
  gap: 10px;
}

.Tabs__Tab {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: black;
  text-transform: uppercase;
  font-family: oswald;
  font-weight: 500;
  z-index: 2;
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.Tabs__Tab--Active {
  border-color: var(--border-color);
  border-bottom-width: 0;
  background-color: var(--background-color);
}

.Tabs__Content {
  margin-top: -1px;
  z-index: 1;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: #ddd;
}

.Tabs__Content--FirstActive {
  border-top-left-radius: 0;
}
