.Discounts__RegularDiscounts {
  text-transform: uppercase;
  color: var(--blue);
  font-weight: 700;
  font-size: 1.3em;
  text-align: left;
  margin-bottom: 10px;
}

.Discounts__RegularDiscountsRow {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  gap: 10px;
}

.Discounts__RegularDiscountsTenPercentTextImportant {
  font-size: 0.8em;
  font-weight: 400;
}
