.Contact__RowBox {
  display: flex;
  flex-flow: row;
  height: auto;
  width: 100%;
  gap: 40px;
  align-items: center;
}

.Contact__ImgBox {
  width: 30%;
  height: 30%;
}

.Contact__Img {
  width: 100%;
}

.Contact__FormBox {
  width: 70%;
}

.Contact__Heading {
  margin-bottom: 15px;
}

.Contact__Text {
  font-weight: 200;
  text-align: left;
  padding-bottom: 20px;
  font-family: nunito;
}

.Contact__Form {
  grid-area: form;
  text-align: left;
}

.Contact__SubmitButton {
  margin-top: 20px;
  color: white;
  background-color: black;
}

.Contact__SubmitButton:hover {
  margin-top: 20px;
  color: white;
  background-color: var(--blue);
}

.Contact__Result {
  padding: 10px 20px;
  background-color: var(--lightgreen);
  margin-top: 20px;
}

.Contact__Result--Error {
  background-color: var(--dark-pink);
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .Contact__FormBox {
    width: 100%;
  }

  .Contact__RowBox {
    width: 100%;
    display: inline-block;
    align-items: center;
  }

  .Contact__Img {
    display: none;
  }
}
