.contact-heading {
  margin-bottom: 15px;
}

.contact-text {
  font-weight: 200;
  text-align: left;
}

.contact-info-box {
  background-color: var(--lightblue);
  max-height: 350px;
  max-width: 350px;
  position: absolute;
  right: 0;
}

.contact-info-title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  padding-top: 30px;
  padding-left: 30px;
}

.contact-info {
  font-weight: 200;
  text-align: left;
  padding-top: 5px;

  padding-left: 30px;
}

.contact-social-icon {
  padding-bottom: 30px;
  padding-left: 30px;
  display: flex;
}

.contact-icon {
  width: 20px;
  height: 20px;
  display: flex;
  padding-top: 10px;
  padding-right: 5px;
}

.form {
}

.form-box {
  border-color: var(--blue);
  border-radius: 1000px;
  max-width: 1000px;
  width: 100%;
  height: 30px;
}

.form-box.message {
  height: 120px;
  border-radius: 20px;
}

.form-titles {
  font-weight: 700;
  text-align: left;
  display: flex;
  color: var(--blue);
}

.send-button {
  margin-top: 20px;
}
