.Hamburger {
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 35px;
  width: 35px;
}

.Hamburger__Bar1,
.Hamburger__Bar2,
.Hamburger__Bar3 {
  width: 100%;
  height: 2px;
  margin: 3px 0;
  background-color: var(--blue);
  transition: 0.3s;
}

/* Rotate first bar */
.Hamburger--Toggled .Hamburger__Bar1 {
  transform: translate(0, 8px) rotate(-225deg);
}

/* Fade out the second bar */
.Hamburger--Toggled .Hamburger__Bar2 {
  opacity: 0;
}

/* Rotate last bar */
.Hamburger--Toggled .Hamburger__Bar3 {
  transform: translate(0, -8px) rotate(225deg);
}
