.PentOgBrukt_TopCoverImg {
  width: 100%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
}

.PentOgBrukt__Text {
  font-family: nunito;
}

.PentOgBrukt__DisplayBox1 {
  display: flex;
  flex-flow: row;
  max-width: var(max-width);
  gap: 10px;
}
.PentOgBrukt__DisplayBox2 {
  display: flex;
  flex-flow: row;
  max-width: var(max-width);
  gap: 10px;
  margin-bottom: 20px;
}
.PentOgBrukt__DisplayBox3 {
  display: flex;
  flex-flow: row;
  max-width: var(max-width);
  gap: 10px;
  margin-bottom: 20px;
}
.PentOgBrukt__DisplayBox4 {
  display: flex;
  flex-flow: row;
  max-width: var(max-width);
  gap: 10px;
  margin-bottom: 20px;
}

.PentOgBrukt__DisplayImage1 {
  width: 40%;
}

.PentOgBrukt__DisplayImage2 {
  width: 58%;
}
.PentOgBrukt__DisplayImage4 {
  width: 65%;
}
.PentOgBrukt__DisplayImage5 {
  width: 35%;
}

.PentOgBrukt__ColorDisplayRow {
  display: flex;
  flex-flow: row;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.PentOgBrukt__ColorDisplay1 {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: #ffffff;
  border-color: lightgray;
  border-style: solid;
  border-width: 2px;
}
.PentOgBrukt__ColorDisplay2 {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: #deeced;
  border-color: lightgray;
  border-style: solid;
  border-width: 2px;
}
.PentOgBrukt__ColorDisplay3 {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: #b6ced0;
}
.PentOgBrukt__ColorDisplay4 {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: #91b6bb;
}
.PentOgBrukt__ColorDisplay5 {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: #7ca7ad;
}
.PentOgBrukt__ColorDisplay6 {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: #5d7d7f;
}
.PentOgBrukt__ColorDisplay7 {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: #000000;
}
