:global .image-gallery-image {
  width: 100%;
  margin-top: 10px;
}
@media only screen and (min-width: 600px) {
  :global .image-gallery-image {
    height: 600px;
  }
}

.container {
  text-align: left;
}

.ingress {
  font-weight: 300;
}

.designElements {
  display: flex;
  justify-content: space-between;
  width: 48%;
  flex-flow: column;
}

.designElement {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.18);
  height: 314px;
  width: 100%;
}

.graphicalElements {
  display: flex;
  justify-content: space-between;
  width: 48%;
  flex-flow: row wrap;
}

.designInfoHeading {
  color: black;
  font-weight: 300;
  margin-top: 20px;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.colorPalette {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.colorCard {
  padding-top: 150px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.colorDetails {
  background-color: #fff;
  outline-style: solid;
  outline-color: rgb(209, 209, 209);
  outline-width: 1px;
  border-radius: 10px;
  margin: 0;
  list-style: none;
  padding: 20px;
}

.body {
  font-weight: 300;
}

.infoBoxesGrid {
  display: flex;
  flex-flow: row wrap;
  grid-auto-rows: 380px;
  grid-template-columns: 1fr 1fr;
}

.infoBoxesGrid > * {
  flex-shrink: 0;
  flex-grow: 0;
  width: 48%;
}
