:global .image-gallery-image {
  width: 100%;
  margin-top: 10px;
}
@media only screen and (min-width: 600px) {
  :global .image-gallery-image {
    height: 600px;
  }
}

:global .image-gallery-icon:hover {
  color: var(--blue);
}

:global .image-gallery-icon .image-gallery-svg {
  transition: transform 0.2s;
}

:global .image-gallery-bullets .image-gallery-bullet:hover {
  background-color: var(--lightblue);
  border-color: var(--lightblue);
}

:global .image-gallery-bullets .image-gallery-bullet.active:hover {
  background-color: var(--lightblue);
}

/* :global .image-gallery-icon:hover .image-gallery-svg {
  transform: none;
} */

.container {
  text-align: left;
}

.ingress {
  font-weight: 300;
}

.graphicalElements {
  display: flex;
  justify-content: space-between;
  width: 48%;
  flex-flow: row wrap;
}

.elementHeading {
  color: black;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
}

.colorPalette {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.colorCard {
  padding-top: 150px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.colorDetails {
  background-color: #fff;
  outline-style: solid;
  outline-color: rgb(209, 209, 209);
  outline-width: 1px;
  border-radius: 10px;
  margin: 0;
  list-style: none;
  padding: 20px;
}

.body {
  font-weight: 300;
}

.elements {
  display: grid;
  grid-auto-rows: 380px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.element {
  display: grid;
  grid-template-rows: 66px auto;
  height: 100%;
  width: 100%;
}

.elementImage {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.18);
  height: 100%;
  max-height: 314px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .elements {
    grid-template-columns: 1fr;
  }
}
