.Gallery__Image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.Gallery__Title {
  color: black;
  font-family: oswald;
  font-weight: 500;
  font-size: 1.17em;
  margin-top: 18.72px;
  margin-bottom: 7px;
  text-align: left;
  text-transform: uppercase;
}

.Gallery__Count {
  text-align: left;
  font-weight: 200;
}
