.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.photography-category {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  grid-auto-flow: row;
  row-gap: 30px;
  column-gap: auto;
  width: 100%;
  max-width: var(--content-width);
  padding-top: 10px;
}

.photography {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.photography-category-link {
  text-decoration: none;
  color: inherit;
  font-family: nunito;
  font-weight: 400;
}

.photography-category-title {
  font-weight: 500;
  color: black;
  font-family: oswald;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.photography-category-link:hover {
  opacity: 90%;
  color: grey;
}

@media only screen and (max-width: 1100px) {
  .photography-category {
    justify-content: row;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 1fr;
    max-width: var(--content-width);
  }
}

@media only screen and (max-width: 600px) {
  /* .content {
    width: var(--content-width);
    max-width: 80%;
  }

  .photography {
    max-width: 100%;
    display: flex;
  } */

  .photography-category {
    justify-content: center;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-gap: 0;
    max-width: var(--content-width);
  }

  .photography-category-title {
    margin-bottom: 0;
    margin-top: 3px;
  }

  .photography-category-count {
    margin-bottom: 20px;
  }
}
