.Footer {
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  height: auto;
  display: flex;
  flex-flow: row;
  margin-top: 30px;
}

.Footer__ContentBox {
  width: var(--content-width);
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Footer__ColumnBox {
  display: flex;
  flex-flow: row;
  gap: 30px;
}

.Footer__Links {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  max-width: var(--content-width);
  width: 100%;
}

.Footer__Link {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  padding-right: 0px;
  text-decoration: none;
  font-family: oswald;
}
.Footer__Link:hover {
  color: #000000;
}

.Footer__ColumnOne {
  display: flex;
  flex-flow: column;
  justify-content: left;
  gap: 10px;
  font-family: nunito;
}

.Footer__ColumnLogo {
  height: auto;
  width: 100px;
  margin-top: 5px;
  margin-bottom: auto;
}

a.Footer__Social {
  justify-content: space-between;
}

.Footer__SocialImg {
  width: 25px;
  justify-content: space-between;
  margin-right: 7px;
  align-items: left;
  margin-top: 4px;
}

@media only screen and (max-width: 1000px) {
  .Footer {
    width: 100%;
    height: 250px;
  }

  .Footer__ContentBox {
    max-width: var(--content-width);
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  .Footer__Link {
    display: none;
  }

  .Footer__RowTwo {
    max-width: var(--content-width);
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 7px;
  }

  .Footer__RowLogo {
    margin-top: 10px;
  }

  .Footer__Social {
    display: flex;
    gap: 7px;
    justify-content: center;
  }

  .Footer__SocialIcons {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-left: 0;
    padding-top: 7px;
    margin-bottom: 20px;
  }

  .Footer__SocialImg {
    padding-top: 0px;
    margin-right: 0px;
    margin: 0;
  }
}
