.inner {
  max-width: var(--content-width);
  width: 100%;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .inner {
    max-width: var(--content-width);
    width: 80%;
  }

  .outer {
    width: 80%;
  }
}
