.about {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.about-content {
  background-color: var(--lightgreen);
  width: 100%;
  height: 600px;
}

.section-about-box {
  margin-top: 100px;
  background-color: white;
  width: 80%;
  height: 500px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 1rem;
}

.about-title {
  text-align: left;
  display: flex;
}

.about-text {
  font-weight: 300;
  text-align: left;
}

.about-img {
  width: 350px;
  height: 500px;
  object-fit: cover;
  justify-content: right;
}

.quote-box {
  background-color: var(--blue);
  width: 100%;
  height: 200px;
}

.about-name-title {
  color: white;
  font-weight: 200;
  text-align: left;
}

.about-quote {
  color: var(--lightgreen);
  font-size: 1.8em;
  text-align: left;
  font-weight: 700;
}
