.WeddingSection {
  display: flex;
  gap: 40px;
  width: 100%;
  max-width: var(--content-width);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  margin-top: 30px;
}

.WeddingSection--reverse {
  flex-flow: row-reverse;
}

.WeddingSection__Textbox1 {
  width: 50%;
}
.WeddingSection__Textbox2 {
  width: 50%;
}

.WeddingSection__Header {
  font-size: 1.2em;
  font-weight: 700;
  color: var(--blue);
  text-align: left;
  text-transform: uppercase;
}

.WeddingSection__Text {
  font-family: nunito;
  text-align: left;
}

.WeddingSection__PriceBox {
  align-items: right;
  text-align: right;
  font-size: 1em;
  font-weight: 700;
  color: var(--blue);
  margin-top: -10px;
  font-family: oswald;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: -25px;
}
