:root {
  --green: #bac624;
  --lightgreen: #d8f4a4;
  --lightblue: #aaf9f7;
  --black: #000000;
  --blue: #3ac1c1;
  --content-width: 1000px;
}

body {
  margin: 0;
  font-family: Oswald, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
