:root {
  --green: #bac624;
  --lightgreen: #d8f4a4;
  --lightblue: #aaf9f7;
  --black: #000000;
  --blue: #3ac1c1;
  --dark-pink: #e23b63;
  --light-pink: #f987ad;
  --light-orange: #efb38b;
  --dark-orange: #fc6b08;
  --content-width: 1000px;

  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

input,
textarea {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Oswald, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen and (max-width: 1000px) {
  :root {
    --content-width: 900px;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --content-width: 600px;
  }
}
