.Saftig_TopCoverImg {
  width: 100%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
}

.Saftig__Text {
  font-family: nunito;
}

.Saftig__DisplayBox1 {
  display: flex;
  flex-flow: row;
  max-width: var(max-width);
  gap: 10px;
}
.Saftig__DisplayBox2 {
  display: flex;
  flex-flow: row;
  max-width: var(max-width);
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.Saftig__DisplayBox3 {
  display: flex;
  flex-flow: row;
  max-width: var(max-width);
  gap: 10px;
  margin-bottom: 20px;
}
.Saftig__DisplayBox4 {
  display: flex;
  flex-flow: row;
  max-width: var(max-width);
  gap: 10px;
  margin-bottom: 20px;
}
.Saftig__DisplayBox5 {
  display: flex;
  flex-flow: row;
  max-width: var(max-width);
  gap: 10px;
  margin-bottom: 20px;
}
.Saftig__DisplayBox6 {
  display: flex;
  flex-flow: row;
  max-width: var(max-width);
  gap: 10px;
  margin-bottom: 20px;
}

.Saftig__DisplayImage1 {
  width: 35%;
}

.Saftig__DisplayImage2 {
  width: 64%;
}
.Saftig__DisplayImage3 {
  width: 100%;
}
.Saftig__DisplayImage4 {
  width: 100%;
}
.Saftig__DisplayImage5 {
  width: 100%;
}
.Saftig__DisplayImage6 {
  width: 100%;
}
.Saftig__DisplayImage7 {
  width: 100%;
}

.Saftig__ColorDisplayRow {
  display: flex;
  flex-flow: row;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content:;
}

.Saftig__ColorDisplay {
  width: calc(100% / 2);
  border-radius: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.Saftig__ColorDisplay1 {
  background-color: #ffffff;
  border-color: lightgray;
  border-style: solid;
  border-width: 2px;
}

.Saftig__ColorDisplay2 {
  background-color: #000000;
}

@media only screen and (max-width: 600px) {
  .Saftig_TopCoverImg {
    width: 100%;
    height: 200px;
  }

  .Saftig__DisplayBox1 {
    flex-flow: column;
  }
  .Saftig__DisplayBox2 {
    flex-flow: column;
  }
  .Saftig__DisplayBox3 {
    flex-flow: column;
  }
  .Saftig__DisplayBox4 {
    flex-flow: column;
  }
  .Saftig__DisplayBox5 {
    flex-flow: column;
  }
  .Saftig__DisplayImage1 {
    width: 100%;
  }

  .Saftig__DisplayImage2 {
    width: 100%;
  }

  .Saftig__DisplayImage3 {
    width: 100%;
  }

  .Saftig__DisplayImage4 {
    width: 100%;
  }
  .Saftig__DisplayImage5 {
    width: 100%;
  }

  .Saftig__DisplayImage6 {
    width: 100%;
  }
  .Saftig__DisplayImage7 {
    width: 100%;
  }

  .Saftig__DisplayImage8 {
    width: 100%;
  }
}
