.link,
.link:visited,
.link:active {
  z-index: 2;
  color: inherit;
  grid-area: link;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 8px 40px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 9999px;
}
