.GalleryBrowser {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.GalleryBrowser__Galleries {
  align-items: center;
  column-gap: auto;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  max-width: var(--content-width);
  padding-top: 10px;
  row-gap: 30px;
  width: 100%;
}

.GalleryBrowser__GalleryLink {
  color: inherit;
  font-family: nunito;
  font-weight: 400;
  text-decoration: none;
}

.GalleryBrowser__GalleryLink:hover {
  color: grey;
  opacity: 90%;
}

@media only screen and (max-width: 600px) {
  .GalleryBrowser__Galleries {
    grid-auto-rows: auto;
    grid-gap: 0;
    grid-template-columns: 100%;
    justify-content: center;
    max-width: var(--content-width);
  }
}
